[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
pillow = "*"
pyqt5 = "*"
pyqt5-tools = "*"

[dev-packages]
autopep8 = "*"
page = "*"

[requires]
python_version = "3.11"
